<section id="about">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet Lynnette</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img class="headshot img-rounded img-responsive center-block" src="{{ site.baseurl }}{{ page.profile_picture }}" alt="{{ page.title }}">
                <br>
                {{ page.content }}
            </div>
        </div>
    </div>
</section>
