<section id="about">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet Lynnette</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
                <img class="headshot img-rounded img-responsive center-block" src="/img/headshot.png">
                <br>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sem id libero rhoncus viverra sit amet sed quam. Aliquam id ex vel nunc efficitur iaculis. Praesent consequat neque vel lacus luctus, eu porttitor diam venenatis. Suspendisse commodo accumsan interdum. Proin sit amet lacus diam. Praesent imperdiet consequat metus id gravida. Donec condimentum ullamcorper dui, vitae facilisis risus. Curabitur vitae ipsum efficitur nisl hendrerit eleifend a vel quam. Vestibulum efficitur sollicitudin urna eu consectetur. Nunc tincidunt sapien ut lectus suscipit blandit. Praesent ac urna vulputate, tristique nunc a, efficitur lectus. Quisque sit amet ultricies elit. Donec blandit ante non sem aliquet tempus.
                </p>
            </div>
            <div class="col-lg-4 col-lg-offset-1">
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat sem id libero rhoncus viverra sit amet sed quam. Aliquam id ex vel nunc efficitur iaculis. Praesent consequat neque vel lacus luctus, eu porttitor diam venenatis. Suspendisse commodo accumsan interdum. Proin sit amet lacus diam. Praesent imperdiet consequat metus id gravida. Donec condimentum ullamcorper dui, vitae facilisis risus. Curabitur vitae ipsum efficitur nisl hendrerit eleifend a vel quam. Vestibulum efficitur sollicitudin urna eu consectetur. Nunc tincidunt sapien ut lectus suscipit blandit. Praesent ac urna vulputate, tristique nunc a, efficitur lectus. Quisque sit amet ultricies elit. Donec blandit ante non sem aliquet tempus.
                <p class="text-muted">
                    Morbi lectus nisl, pellentesque nec rutrum at, laoreet sit amet neque. Morbi blandit molestie faucibus. Vestibulum a nisl sed ipsum egestas posuere. In eleifend accumsan tellus, quis bibendum ligula dictum eu. Ut et mi sem. Quisque consectetur gravida ex vitae porta. Maecenas fringilla erat a nulla semper vulputate. Aliquam erat volutpat. Ut vel laoreet lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas eu tellus vel tortor commodo egestas ut quis nisi. Cras ut nunc id lorem feugiat ultrices a et leo.
                </p>
            </div>
        </div>
    </div>
</section>
