<section class="bg-primary" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 text-center"></div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-credit-card wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Flexible Payment Options</h3>
                    <p class="text-faded">We're all in different places along the path.<br>I provide multiple payment options to meet your budget needs.</p>
                </div>
                <br>
                <a href="#about" class="btn btn-default btn-xl page-scroll">Learn More</a>
            </div>
            <div class="col-lg-3 col-md-3 text-center"></div>
        </div>
    </div>
</section>